form {

margin-top: 100px;
}

section#showAtelier {
    margin-top: 100px;
}


section#registrationConfirmerd {
    margin-top: 70px;
}

article#articleAteliers {
    margin-bottom: 20px;
}

section#reponseAtelier {
    margin-top: 100px;
}

section.atelier {
    margin-top: 50px;
    text-align: center;
}

.container.interesse {
    margin-top: 50px;
}



.container.ateliers {
    margin-top: 50px;
   }

.fos_user_user_show {
       margin-top: 80px;
   }

.liste {
       margin-top: 60px;
   }
.imagesatelier
 {
       margin-top: 100px;
 }

 .rating {
    direction: rtl;
 }
 .rating a {
    float: right;
    color: #aaa;
    text-decoration: none;
    font-size: 3em;
    transition: color .4s;
 }
 .rating a:hover,
 .rating a:focus,
 .rating a:hover ~ a,
 .rating a:focus ~ a {
    color: orange;
    cursor: pointer;
 }
