{% extends "base.html.twig" %}

{% block body %}
<div  class = "liste">
  <div class="container">
<table class="table">
       <thead class="thead-inverse">
       <tr>
           <th class="text-center">Nom de l'atelier</th>



       </tr>
       </thead>
       <tbody>
{% for atelier in atelier %}


<tr>

    <td class="nomatelier text-center">{{ atelier.nom }}</td>
    <td><a href= "{{ path ('voir',{'id': atelier.id}) }}"><button class="button is-turquoise" id ="envoyer" type="submit" >Voir les photos</button></a></td>


</tr>


{% endfor %}
</tbody>
</table>
</div>
</div>


{% endblock %}
